body{
    background: #cef0f3;
}
.container{
    width: 350px;
    height: 500px;
    padding: 2em;
    border-radius: 1em;
    box-sizing: border-box; 
    box-shadow: 14px 14px 20px #cdced1, -14px -14px 20px white;
    margin: auto;

}
.brand-logo{
    height: 100px;
    width: 100px;
    background: url("https://img.icons8.com/color/100/000000/twitter--v2.png");
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cdced1, -7px -7px 10px white;
}
h3{
    text-align: center;
    color: #1da1f2;
}
.input-fields{
margin: 1em;
margin-top: 4em;
width: 80%;

}
input{
    width: 100%;
    background: #ecf0f3;
    padding: 10px;
    padding-left:20px;
    height: 2em;
    font-size: 14px;
    border-radius: 50px;
    border: none;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
.email, .password{
    margin-bottom: 1em;
}
button{
    margin: auto;
    margin-top: 20px;
    background: #1da1f2;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 500ms;
    border: none;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}
button:hover{
    box-shadow: none;
}